.root {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--standard-white);
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 200px;  /* You can adjust this value */
    top: 22%; 
    justify-content: center;
    align-items: center;  /* Added this line to center align the items vertically */
    color: var(--standard-black);
    max-width: 500px;
    gap: 35px;
}

.title {
    font-size: 72px;
    line-height: 86px;
    font-weight: normal;
    text-align: center;  /* Text remains centered */
    white-space: pre-wrap;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;  /* Text remains centered */
}

.ctaButton {
    width: 180px;  
    /* If you wish, you can specify additional styles here */
}

.ctaLink {
    text-transform: uppercase;
    color: var(--standard-white);
    border-bottom: 1px solid var(--standard-white);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.header {
    color: var(--standard-white);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .root {
        min-height: 50vh;
    }

    .title {
        font-size: 24px;
        line-height: 30px;
    }

    .subtitle {
        font-size: 10px;
        line-height: 14px;
    }
    
    /* Adjust the styles for mobile image here */
   
}

@media (max-width: 500px) {
    .content {
        padding: 0px 32px;
    }
    
}