.root {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--standard-black);
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* left: 375px;  You can adjust this value */
    top: 20%; 
    justify-content: center;
    align-items: center;  /* Added this line to center align the items vertically */
    color: var(--standard-black);
    max-width: 800px;
    gap: 20px;
}

.title {
    font-size: 72px;
    line-height: 86px;
    font-weight: normal;
    text-align: center;  /* Text remains centered */
    white-space: pre-wrap;
}

.subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;  /* Text remains centered */
}


.header {
    color: var(--standard-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .content > * {
        display: none;
      }
    .root {
        min-height: 50vh;
    }

    .title {
        font-size: 42px;
        line-height: 50px;
    }

    .subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    
    /* Adjust the styles for mobile image here */
   
}

@media (max-width: 500px) {
    .content {
        padding: 0px 32px;
    }
    
}