.formItemsContainer {
  display: flex;
  gap: 20px; /* This provides space between the items. Adjust as needed. */
  align-items: center; /* To align items vertically in the center */
}

.inputContainer {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  width: auto; 
  margin: 0 auto;
   /* background-color: white; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

@media (max-width: 800px) {
  .inputContainer {
    padding: 25px;
    width: 350px; /* Adjusted for smaller screens */
    box-shadow: none;
  }

  .formItemsContainer {
    flex-direction: column; /* Stack the items vertically */
    gap: 10px; /* Adjust gap for smaller screens */
  }
}
