/* 

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.inputContainer button {
  align-self: center;
}
@media (max-width: 800px) {

  .inputContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px;
    border-radius: 6px;
    width: 300px;
    margin: 0 auto;
    box-shadow: none;
  }

} */